body {
  height: 100%;
  margin: 5px;
  padding: 3px;
}
.chapter,
h2,
h1 {
  text-align: center;
}
.person {
  text-align: center;
  width: 90%;
  max-width: 700px;
  height: auto;
  background-color: rgba(156, 151, 151, 0.904);
  z-index: 2;
  position: fixed;
  top: 20%;
  left: 12%;
  right: 10%;
  border: none;
  border-radius: 10px;
}
strong {
  cursor: pointer;
}
.x {
  text-align: right;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
